
.header{
    background-color: whitesmoke;
    padding: 1%;
    text-align: center;
    color: rgb(98, 122, 228);
}
.recipeNode {
    text-align: center;
    padding: 5px;
}
body {
    background-color: white;
}

button {
   background-color: green;
   color: white;
   padding: 15px 32px;
   display: inline-block;
   font-size: 16px;
   margin: 10px;
   border-radius: 12px
}